development:
  host: ceph.dev
  scheme: http
  port: 80
  ssl_verify_peer: false
  bucket: collaborative_gif_cloud_development
  admin_username: admin
  access_key: ACCESS_KEY
  secret_key: SECRET_KEY
