// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_gif {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.gif-file-type {
  font-size: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 6px;
}

.gif-file-info {
  padding: 10px;
  height: 95px;
}

.btn-toolbar {
  margin-left: 22px;
}

.gif-thumbnail {
  margin: 0 auto;
  margin-bottom: 10px;
}
